/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroImage {
  display: block;
  width: min(100%, 960px);
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0 1rem;
  }
}
